name: PR

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Dart
        uses: ./.github/actions/setup-dart
  
      - name: Run tests
        run: dart test

      - name: Analyze
        run: dart analyze
