name: Publish to pub.dev

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-flutter
      - run: flutter pub publish --force
