name: Publish to pub.dev

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Dart
        uses: ./.github/actions/setup-dart

      - name: Publish
        run: dart pub publish --force
